@font-face {
    font-family: 'quicksand';
    src: url('/quicksand.ttf');
}

@font-face {
    font-family: 'merriweather';
    src: url('/merriweather.ttf');
}

html {
	background-color: #e9d3b2;
	background-image: url(/bg.png);
	background-repeat: repeat; 
	font-family: merriweather;
}

body {
}

#gridwrapper {
	display: grid;
	grid-template-columns: min-content auto 25%;
	height: calc(100vh - 30px);
	padding: 15px;
}

#middlecol {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin-left: 60px;
	margin-right: 60px;
	grid-column: 2;
}

#played {
	display: inline-block;
	flex: 0 1 auto;
	margin-bottom: 15px;
}

#played > .cardrack {
	/*
	margin-left: auto;
	margin-right: auto;
	*/
}

#discard {
	overflow-y: hidden;
	margin-top: 15px;
	flex: 1 1 auto;
}

#discard > .card {
	display: inline-block;
}

#players {
	grid-column: 1;
}

#infobox {
	grid-column: 3;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 30px);
}

#infobox > * {
	margin-bottom: 20px;
}

#infobox > div > h2 {
	display: inline;
}

.cardrack {
	display: flex;
	justify-content: center;
}

.card {
	width: 80px;
	height: 120px;
	line-height: 120px;
	border: 3px solid black;
	border-radius: 15px;
	background-color: white;
	margin: 5px;
	text-align: center;
	user-select: none;
	font-family: quicksand;
	background-image: linear-gradient(45deg, #bfbfbf 25%, #9c9883 25%, #9c9883 50%, #bfbfbf 50%, #bfbfbf 75%, #9c9883 75%, #9c9883 100%);
	background-size: 56.57px 56.57px;
	font-size: 0px;
}

.hintbutton {
	border: 3px solid black;
	border-radius: 10px;
	background-color: white;
	width: 50px;
	height: 50px;
	padding: 15px;
	margin: 5px;
	text-align: center;
	line-height: 0px;
	font-family: quicksand;
	font-size: 25px;
}

.color-blue {
	background-color: deepskyblue;
}

.color-white {
	background-color: mintcream;
}

.color-red {
	background-color: tomato;
}

.color-yellow {
	background-color: gold;
}

.color-green {
	background-color: yellowgreen;
}

.hinted-color,
.player-other:not(:hover) > div,
#discard > div {
	 background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=); 
}

.hinted-number,
.player-other:not(:hover) > div,
#discard > div {
	font-size: 55px;
}

.token {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 5px;
	border: 3px solid black;
	border-radius: 50%;
	background-color: black;
	line-height: 80px;
	text-align: center;
	font-size: 55px;
	font-family: quicksand;
	color: white;
	-webkit-text-stroke: 1px black;
	user-select: none;
	pointer-events: none;
}

.activeplayer {
	color: crimson;
	text-decoration: underline;
}

#deck {
	margin-left: auto;
}

select, button, input {
	font-family: merriweather;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
	font-size: 140%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

#gamelog {
	flex: 1;
	overflow-y: scroll;
}

#content {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#content > h1 {
	text-align: center;
}

.playername {
	margin-top: 5px;
	margin-bottom: 5px;
}

#divider {
	border-top: 3px solid black;
	margin: 0;
	width: 100%;
}

.areahint {
	margin: 4px;
	font-weight: bold;
}
